// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$light-gray: #F4F4F4;

$white: #FFFFFF;
$black: #191919;

$gray: #e0dfdd;
$brand-primary: #4a7059;
$brand-secondary: #E0E2E0;
