<footer class="footer">
  <div class="content-1330 center-relative">
    <div class="footer-center">
      <%= link_to image_tag("logo-remi-vert.png", width:"150px", alt:"Logo Rémi Créations"), root_path %>
    </div>
  </div>
</footer>
