<footer class="footer">
  <div class="content-1330 center-relative">
    <div class="footer-center">
      <a href="index.html">
        <%= image_tag("logo-remi-vert.png", width:"150px", alt:"Logo Rémi Créations") %>
      </a>
    </div>
  </div>
</footer>
