<div class="login">
  <% if user_signed_in? %>
    <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete, class: "log-link" %>
  <% else %>
    <%= link_to "Se connecter", new_user_session_path, class: "log-link" %>
  <% end %>
</div>
