<div class="content-1330 header-holder center-relative">
  <div class="header-logo left">
    <a href="index.html">
      <%= image_tag("logo-remi-vert.png", width:"200px", alt:"Logo Rémi Créations") %>
    </a>
  </div>

  <div class="header-menu right">
    <nav id="header-main-menu">
      <ul class="main-menu">
        <li class="">
          <%= link_to "Accueil", root_path %>
        </li>
<!--         <li class="">
          <a href="#">A Propos</a>
        </li> -->
        <li class="">
          <%= link_to "Collections", root_path %>
        </li>
        <li class="">
          <%= link_to "Contact", contact_path %>
        </li>
      </ul>
    </nav>
  </div>
</div>
