a.button {
  display: inline-block;
  color: $brand-primary;
  border: 3px solid $brand-primary;
  padding: 15px 40px;
  text-decoration: none;
  transition: 0.5s ease all;
}

.form-button {
  display: inline-block;
  color: $brand-primary;
  background-color: $white;
  border: 1px solid $brand-primary;
  padding: 5px 20px;
  text-decoration: none;
  transition: 0.5s ease all;
}

a.button:hover, .form-button:hover {
  color: white;
  background-color: $brand-primary;
  transition: 0.5s ease all;
}

